/* styles.css */

/** {
    color: purple;
}*/

h1 {
    color:mediumslateblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: purple;
}
.editable .actions {
    color:brown;
    font-family: cursive;
}
.actions {
    color: red;
    font-weight: 1000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    height: auto;
    width: 100px;
}

.editable {
    color: greenyellow;
    font-weight: 100;
}

