/* styles.css */

/** {
    color: purple;
}*/

html {
    margin: 10%;
}

h1 {
    color:mediumslateblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: purple;
}
.editable .actions {
    color:brown;
    font-family: cursive;
}
.actions {
    color: red;
    font-weight: 1000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    height: auto;
    width: 100px;
}

.editable {
    color: greenyellow;
    font-weight: 100;
}

.background {
    /* display: inline-block; */
    /* width: 20%; */
    background-color: lightblue;
}

.div-ingredients {
    width: 300px;
    border: 1px lightgray dashed;
    color: darkblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div-ingredients:hover{
    background-image: url("/img/max.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}